@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@font-face{
    src: url(../fonts/CF_Leather/CF_Leather.ttf);
    font-family: CF_Leather;
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: url(../img/leather.jpg);
    background-size: cover;
    color: #505962;
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
}
.navbar-brand img {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link,:active,
.navbar-dark .navbar-nav .nav-link,:hover {
    color: #EE8E28;
}
.home-inner{
    padding: 30%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0,0,0,0.652)),url(../img/leather.jpg);
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
.product{
    padding-bottom: 2rem;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0,0,0,0.652)),url(../img/leather.jpg);
}
.products{
    padding-top: 2rem;
    height: 25rem;
    width: 25rem;
}
.con{
    text-align: center;
}
.contact{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.product-service{
    padding-top: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0,0,0,0.652)),url(../img/leather.jpg);
    background-size: cover;
}
.service{
    text-align: center;
}
.foot{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 8rem;
    width: 6rem;
}
.footer-footer{
    text-align: center;
}